.blog {
  font-family: "Inter", sans-serif;
  background: #fff;
  padding: 40px 0;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 25px;

    h1 {
      font-size: 32px;
      font-weight: 700;
      margin: 0;
    }
  } 
  .breadcrumb {
  font-size: 18px;
  color: #666;
  margin-bottom: 16px;
}

.breadcrumb__home {
  color: #A1ABB9;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumb__home:hover {
  color: #0056b3;
  text-decoration: underline;
}

.breadcrumb__divider {
  margin: 0 4px;
}

.breadcrumb__current {
  color: #999;
}


  &__search-tags {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;

    h3 {
      font-size: 18px;
      font-weight: 600;

      span {
        color: #ff3b3b;
      }
    }

    .search-block {
      position: relative;
      flex: 1;

      input {
        width: 100%;
        padding: 14px 40px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        transition: 0.2s;

        &:focus {
          border-color: #ff3b3b;
        }
      }

      .input-icon {
        position: absolute;
        left: 12px;
        top: 70%;
        transform: translateY(-50%);
        color: #777;
        font-size: 16px;
        pointer-events: none;
      }
    }

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .tag {
        background: #f5f5f5;
        border-radius: 8px;
        padding: 6px 12px;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          background: #ff3b3b;
          color: #fff;
        }
      }
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;

    button {
      border: none;
      padding: 8px 18px;
      border-radius: 24px;
      background: #f5f5f5;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.3s;

      &.active,
      &:hover {
        background: #ff3b3b;
        color: #fff;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 30px;

    .blog-card {
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      &__content {
        padding: 14px;

        h2 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 8px;
        }

        .date {
          font-size: 16px;
          color: #b5b5b5;
          margin-bottom: 10px;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          font-size: 16px;
          color: #7e8794;
          gap: 6px;

          span {
            background: #f5f5f5;
            padding: 4px 10px;
            border-radius: 6px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .blog-card:first-child {
    grid-column: span 1;
    grid-row: span 2;

    img {
      height: 420px;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      line-height: 1.4;
    }
  } 




  

  @media (max-width: 1200px) {
    &__grid {
      grid-template-columns: repeat(3, 1fr); 
      
    }
  }

  @media (max-width: 900px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .blog-card:first-child {
      grid-column: span 2;
      grid-row: span 1;

      img {
        height: 350px;
      }
    }

    &__search-tags {
      flex-direction: column;
      align-items: flex-start;

      .search-block input {
        width: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    padding: 20px;

    &__grid {
      grid-template-columns: 1fr;
    }

    .blog-card:first-child {
      grid-column: span 1;
      grid-row: span 1;

      img {
        height: 300px;
      }
    }
  }
}
