.search-page {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0rem;
}

.poin {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  margin-bottom: 20px;
}

.breadcrumb-link {
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb-link.active {
  color: #333;
  font-weight: 500;
  cursor: default;
}

.breadcrumb-separator {
  color: #999;
}

.main {
  width: 100%;
 // max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main h2 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.search-input-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 2.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
} 
 

 /* Контейнер результатов поиска */
.search-results {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  margin-top: 10px;
}

/* Карточка результата */
.search-card {
  display: flex;
  background: #F2F5F9;
  border-radius: 12px;
  padding: 5px;
 // border: 1px solid #eee;
  gap: 15px;
  transition: 10.2s;

  &:hover {
    border-color: #ccc;
    transform: translateY(-2px);
  }

  &__image-wrap {
    min-width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    background: #f8f8f8;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  &__text {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
  }

  &__link {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #FF4D4D;
    font-weight: 200;
    text-decoration: none;

    

    .search-card__icon {
      width: 20px;
      height: 40px;
    }
  }
}




@media (max-width: 768px) {
  .search-page {
    padding: 1rem;
  }

  .main {
    max-width: 100%;
  }
  .poin {
    display: none;
  }
} 
@media (max-width: 600px) {
  .search-card {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__image-wrap {
      width: 100%;
      height: 180px;
    }

    &__content {
      align-items: center;
    }
  }
}
