.product-container {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  background-color: #ffff;

  main.product-main {
    flex: 1;
    flex-direction: column;

    .product-images {
      .main-image img {
        width: 100%;
        border-radius: 10px;
      }

      .thumbnails {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        img {
          width: 140px;
          border-radius: 6px;
          //margin-left: 3%;
          cursor: pointer;
        }
      }
    }
  }

  .description-info {
    color: #0f1113;
    font-size: 20px;
    font-weight: bold;
  }

  .specs {
    margin-bottom: 30px;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;

      li {
        background: #f6f7fa;
        padding: 10px 16px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: #e4e6eb;
          transform: translateY(-2px);
        }
      }
    }
  }

  .toggle-btn {
    margin-top: 15px;
    span {
      color: #ff4d4d;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #ff4d4d;
        text-decoration: underline;
      }
    }
  }

  .description {
    margin-bottom: 30px;
    font-size: 13px;

    h2 {
      color: #0f1113;
      font-size: 17px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
    }
  }

  aside.product-aside {
    flex: 1;

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #0f1113;
    }

    .rating-wrapper {
      display: flex;
      align-items: center;
      padding-left: 10px;
      gap: 16px;
    }

    .rating {
      color: #30d170;
      margin: 0;
      background: #f6f7fa;
    }

    .reviews-count {
      font-size: 16px;
      color: #7e8794;
      margin: 0;
      background: #f6f7fa;
    }

    .rating-list {
      flex: 1;

      .rating-row {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        span {
          width: 90px;
          font-size: 12px;
        }

        .rating-bar {
          flex: 1;
          height: 6px;
          background: #f0f0f0;
          border-radius: 4px;
          overflow: hidden;

          .fill {
            height: 100%;
            background: #f00;
            border-radius: 4px 0 0 4px;
          }
        }
      }
    }

    .reviews {
      font-size: 16px;
      color: #263141;
      margin-bottom: 12px;

      p {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .divider-container {
      position: relative;
      width: 100%;
      height: 30px;
      margin-bottom: 30px;
    }

    .divider {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 6px;
      border: none;
      border-radius: 4px;
      transform: translateY(-50%);
      background: linear-gradient(90deg, #d13030, #ffffff, #30d170);
    }

    .divider-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      opacity: 0;
      cursor: pointer;
    }

    .divider-dot {
      position: absolute;
      top: 69%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: black;
      pointer-events: none;
    }

    .price {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .delivery {
      color: #30d170;
      margin-bottom: 20px;
    }

    .options {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .colors {
        margin-bottom: 20px;

        .color-btn {
          width: 25px;
          height: 25px;
          border-radius: 20%;
          border: 1px solid #ccc;
          margin-left: 5px;
          cursor: pointer;

          &.gray {
            background: gray;
          }
          &.purple {
            background: purple;
          }
          &.gold {
            background: gold;
          }
        }
      }

      .memory button {
        margin: 5px;
        padding: 6px 12px;
        border: 1px solid #7e8794;
        background: white;
        cursor: pointer;

        &.active {
          border-color: #ff4d4d;
        }
      }
    }

    .actions {
      display: flex;
      gap: 10px;

      button {
        padding: 10px 15px;
        border-radius: 6px;
        cursor: pointer;
      }

      .compare {
        background: #ff4d4d;
        color: white;
      }
      .favorite {
        background: #ffeeee;
        color: #ff4d4d;
      }
    }
  }
}

.shop-card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-logo {
  height: 24px;
}

.delivery {
  margin: 8px 0;
  font-size: 14px;
  color: #4ade80;
}

.trend {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.trend.up {
  color: #ef4444;
}
.trend.down {
  color: #22c55e;
}

.chart-wrapper {
  margin: 8px 0;
}

.shop-link {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #ef4444;
  font-weight: 700;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.shop-link:hover {
  text-decoration: underline;
}

.shops-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

@media (max-width: 992px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }

  .product-main {
    order: -1;
  }

  .product-aside {
    order: 0;
  }

  .thumbnails img {
    display: none;
  }

  .description {
    display: none;
  }

  .product-details {
    display: none;
  }
  .rating-list {
    display: flex;
    padding: 20px;
  }
  .shops-grid {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 1px;
    scroll-behavior: smooth;
  }
  .reviews {
    font-size: 16px;
    padding: 20px;
  }
  .price {
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
  }

  .delivery {
    font-size: 16px;
    color: #4ade80;
    padding-left: 20px;
  }
  .navigator {
    padding: 15px 20px;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;

    p {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;

      img {
        margin-right: 8px;
        width: 20px;
        height: 20px;
      }
    }

    span {
      display: block;
      font-size: 18px;
      color: #555;
      margin-bottom: 12px;
      line-height: 1.4;
    }

    .divider-container {
      position: relative;
      margin-top: 10px;

      .divider {
        border: none;
        height: 2px;
        background: #ddd;
      }

      .divider-slider {
        width: 100%;
        margin-top: 6px;
      }

      .divider-dot {
        position: absolute;
        top: -4px;
        width: 12px;
        height: 12px;
        background: #ef4444;
        border-radius: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .options {
    padding: 15px 20px;
    background: #fff;
    border-radius: 8px;
    margin-top: 12px;

    .colors {
      display: flex;
      flex-direction: column; // надпись сверху
      margin-bottom: 15px;

      span {
        font-size: 19px;
        font-weight: 600;
        padding-left: 5px;
        margin-bottom: 10px; // отступ от текста до кнопок
      }

      .color-list {
        display: flex; // кнопки в ряд
        flex-wrap: wrap; // если кнопок много, они переносятся

        gap: 16px; // промежутки между ними
      }

      .color-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid #ddd;
        cursor: pointer;

        &.gray {
          background: #9ca3af;
        }
        &.purple {
          background: #8b5cf6;
        }
        &.gold {
          background: #fbbf24;
        }

        &:hover {
          border-color: #ef4444;
        }
      }
    }

    .memory {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;

      .memory-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .memory-buttons {
      }

      button {
        padding: 6px 14px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 6px;
        background: #fff;
        cursor: pointer;
        color: #374151;
        transition: 0.2s ease;

        &:hover {
          border-color: #ef4444;
        }

        &.active {
          border-color: #ef4444;
          color: #ef4444;
          background: #fff;
          font-weight: 500;
        }
      }
    }
  }

  .shop-link {
    display: flex;
    font-size: 16px;
  }
  .shop-header {
    font-size: 25px;
  }
  .actions {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .actions button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f9fafb;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .actions button:hover {
    background: #f3f4f6;
  }

  .actions button img {
    margin-right: 8px;
  }
}
