body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;  
  
} 



 